<div class="grid-item">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
	  <div class="languages">
	  {% if project.c%}
		  <div class="inline-block">
			 <img height="20" width= "20" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
		  </div>
	  {%endif%}
	  {% if project.julia%}
		  <div class="inline-block">
			<img height="20" width="20" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/julia/julia-original.svg" />
		  </div>
	  {%endif%}
	  {% if project.matlab%}
		  <div class="inline-block">
			 <img height="20" width="20" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-original.svg" />
		  </div>
	  {%endif%}
	  {% if project.python%}
		  <div class="inline-block">
			 <img height="20" width= "20" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
		  </div>
	  {%endif%}
	  </div>
      {% if project.img %}
      <img src="{{ project.img | relative_url }}" alt="project thumbnail">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </a>
</div>
